/* drawer
--------------------------------------------------------- */
.c-drawer{
	position: fixed;
	top: 0;
	z-index: $drawer-z-index;
	padding-top: $drawer-padding;
	width: $drawer-size;
	height: 100%;
	background: $drawer-color;
}

.c-drawer.is-right{
	right: 0;
	-webkit-transition: -webkit-transform $animate-speed;
	        transition:         transform $animate-speed;
	transition-property: box-shadow, transform;
	-webkit-transform: translate3d($drawer-size, 0, 0);
	        transform: translate3d($drawer-size, 0, 0);
}

.c-drawer.is-left{
	left: -$drawer-size;
	-webkit-transition: -webkit-transform $animate-speed;
	        transition:         transform $animate-speed;
	transition-property: box-shadow, transform;
	-webkit-transform: translate3d(0, 0, 0);
	        transform: translate3d(0, 0, 0);
}


.c-drawer__inner{
	overflow: scroll;
	-webkit-overflow-scrolling: touch;
}

.c-drawer.is-open{
	visibility: visible;
	min-height: 667px;
	box-shadow: 0 0 10px rgba(0, 0, 0, .5);
}

.c-drawer.is-left.is-open{
	-webkit-transition: -webkit-transform $animate-speed;
	        transition:         transform $animate-speed;
	-webkit-transform: translate3d($drawer-size, 0, 0);
	        transform: translate3d($drawer-size, 0, 0);
}

.c-drawer.is-right.is-open{
	-webkit-transition: -webkit-transform $animate-speed;
	        transition:         transform $animate-speed;
	-webkit-transform: translate3d(0, 0, 0);
	        transform: translate3d(0, 0, 0);
}

.c-drawer__overlay{
	position: fixed;
	top: 0;
	z-index: $overlay-z-index;
	display: none;
	width: 100%;
	height: 100%;
	background: $overlay-bg;
	opacity: 0;
}

.c-drawer__overlay.is-fadein{
	display: block;
	opacity: .2;
}