/* drawer-btn
--------------------------------------------------------- */
.c-drawer-btn{
	display: block;
	width: $hamburger-menu-size;
	height: $hamburger-menu-size;
}
.c-drawer-btn__icon{
	position: relative;
	top: $hamburger-menu-position - 1;
	left: 5px;
	display: block;
	width: $hamburger-bar-size;
	height: $hamburger-line-thickness;
	border-radius: 3px;
	background: $hamburger-menu-color;
	transition: background $animate-speed;
}
.c-drawer-btn__icon:before
,.c-drawer-btn__icon:after{
	position: absolute;
	display: block;
	width: $hamburger-bar-size;
	height: $hamburger-line-thickness;
	border-radius: 3px;
	background: $hamburger-menu-color;
	content: '';
	transition: all $animate-speed !important;
	transform: rotate(0deg);
}
.c-drawer-btn__icon:before{
	-webkit-transform: translateY($hamburger-menu-translate-y);
	        transform: translateY($hamburger-menu-translate-y);
}
.c-drawer-btn__icon:after{
	-webkit-transform: translateY(-$hamburger-menu-translate-y);
	        transform: translateY(-$hamburger-menu-translate-y);
}

.is-open.c-drawer-btn .c-drawer-btn__icon{
	background: $hamburger-menu-bg;
}
.is-open.c-drawer-btn .c-drawer-btn__icon:before{
	-webkit-transform: translateY(0px) rotate(-45deg);
	        transform: translateY(0px) rotate(-45deg);
}
.is-open.c-drawer-btn .c-drawer-btn__icon:after{
	-webkit-transform: translateY(0px) rotate(45deg);
	        transform: translateY(0px) rotate(45deg);
}
