/* c-fixrd-bar
--------------------------------------------------------- */
.c-fixed-bar{
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 700;
	-webkit-transition: -webkit-transform .3s;
	transition-property: box-shadow, transform;
}

.c-fixed-bar.is-open{
	box-shadow: 0 0 15px rgba(0, 0, 0, .5);
	-webkit-transition: -webkit-transform .3s;
}

.c-fixed-bar.is-slideout{
	-webkit-transition: -webkit-transform .3s;
	-webkit-transform: translate3d(0, -60px, 0);
}

.c-fixed-bar__icon{
	position: absolute;
	top: 50%;
	margin-top: -15px;
}

.c-fixed-bar__icon.is-right{
	right: 16px;
}

.c-fixed-bar__icon.is-left{
	left: 16px;
}